
.brandName{
    text-decoration: none;
    color: #999;
    font: 11px ProximaNovaA-Regular;
    margin-bottom: 5px;
}
.productName{
    color: black;
    font: 14px ProximaNovaA-Regular;
    margin-bottom: 20px;
}
.productName:hover{
    color: #337ab7;
}
.dropDownBox{
   
    background-color: #fff;
    
    width: 100%;
    font-size: 14px;
    font-family: ProximaNovaA-Semibold;
    height: 22px;
    
}
.mrpPriceStyle{
    text-decoration: line-through;
    font: 10px ProximaNovaA-Regular;
    color: #6e6e71;
}
.salePriceStyle{
    color: #231f20;
}

.deliveryDetail{

}
.transport{
    background-repeat: no-repeat;
    background-size: 24px;
    width: 30px;
    height: 25px;
}
.transport:hover{
   color: #E0E0E0;
}
.deliveryTime p{
    font-size: 10px;
    color: #333;
    font-family: ProximaNovaA-Regular;
    margin-bottom: 2px;
    line-height: 15px;
    display: inline-block;
    
    width: 150px;
}
.offer-box{
    color: #ba5253;
    text-align: right;
    box-shadow: #fff;
    font: 12px ProximaNovaA-Semibold;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    margin : 5px;
}
.basket-details{
    background-color: #F4F3F2;
}
@media only screen and (max-width: 992px) {
    .bannerImage {
      width: 100%;
    }
  }